.btn-download {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #1f9978 !important;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-download h1 {
    font-size: 18px
  }
  .btn-download {
    position: fixed;
  }

.btn-download button{
    background-color: #1f9978;
    border-style: none;
    color: #fff;
}
  